Makefile.in

.deps
.dirstamp
autom4te.cache
/compile
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/missing
/stamp-h1

*.o
help.h
keys.h
Makefile
patch.flag
version.h

omxplayer
omxplayer-*.tar.gz
